* {
	box-sizing: border-box;
	font-family: sans-serif;
}

main {
  height: 100%; 
}

html {
  background: url(https://images.freeimages.com/images/large-previews/d0c/roadside-assistance-required-1240071.jpg) 
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  min-height: 100%;
  height: 100%; 
  margin: 0;
  padding: 0;
}

.description {
  width: 80%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 90px;
}

.head-title {
  color: rgb(178, 130, 25);
  background-color: rgb(44, 32, 6);
  position: fixed;
  width: 100%;
  top: -15px;
  left: 0;
  height: 60px;
}

.ase-image {
  background-color: rgb(178, 130, 25);
  height: 25px;
  width: 30px;
  margin-right: 10px;
}

.title {
  text-align: left;
  padding-left: 10px;
}

button {
  font-size: 20px;
  color: white;
  background-color: rgb(44, 32, 6);
  width: 300px;
  height: 60px;
  border-radius: 5px;
  font-weight: 600;
  margin: 10px;
}

.home-buttons {
  width: 80%;
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.sign-button:hover, .submit-button:hover {
  color: white;
  background-color: rgb(89, 65, 12);
}

.back-button:hover, .list-button:hover {
  color: white;
  background-color: rgb(178, 130, 25);
}

.sign-button {
  font-size: 20px;
  background-color: rgb(178, 130, 25);
  width: 200px;
  height: 45px;
  border-radius: 5px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}

.back-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 40px;
}

.submit-button {
  margin-left: 15px;
  width: 150px;
  height: 30px;
  font-weight: 600;
  border-radius: 5px;
  background-color: rgb(178, 130, 25);
}

.form {
  width: 60%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(44, 32, 6, 0.89);
  color: white;
  padding: 20px;
  border-radius: 7px;
}

.form-header, .message-header {
  color: white;
  background-color: rgb(178, 130, 25);
  border-radius: 5px;
  padding: 10px;
}

.contact-info-container {
  border-radius: 5px;
  color: white;
  background-color: rgb(178, 130, 25);
  padding-top: 5px;
  padding-bottom: 20px;
}

.cust-data-container {
  padding-top: 5px;
}

.cust-data {
  list-style: none;
  margin: auto;
  text-align: left;
  font-size: 20px;
  margin-bottom: 15px;
  padding: 0;
}

.message-header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.button-list {
  list-style: none;
  width: 80%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.list-button {
  margin-left: auto;
  margin-right: auto;
}

input, label{
  display: block;
  font-size: 20px;  
}

input {
  width: 100%;
  height: 35px;
  border-radius: 3px;
}

fieldset {
  border: none;
}

.message, .message-error, .list {
  width: 60%; 
  font-size: 15px;
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(44, 32, 6);
  border-radius: 5px;
  padding: 1px;
  margin-bottom: 40px;
}

p {
  width: 80%;
  font-size: 20px;
  text-align: left;
  margin-left: 10px;
}

.message {
  margin-top: 110px; 
}

.list {
  list-style: none;
  padding: 20px;
  margin-top: 100px;
}

.copyright {
  color: white;
  background-color: black;
  width: 50%;
  position: absolute;
  display: inline-table;
  left: 25%;
  text-align: center;
  top: 620px;
}

@media only screen and (max-width: 800px) {

  .list, .message {
    font-size: 15px;
  }

  .list {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {

  input, label{
    display: block;
    font-size: 15px;  
  }

  .head-title {
    top: -15px;
    height: 50px;
  }

  .title {
    font-size: 25px;
  }

  .ase-image {
    height: 20px;
    width: 25px;
  }

  .description {
    margin-top: 60px;
    font-size: 20px;
  }

  h2 {
    font-size: 20px;
  }

  fieldset {
    font-size: 20px;
  }

  .submit-button, .back-button {
    width: 150px;
  }

  .form, .list, .message, .message-error {
    width: 85%
  }

  .list-button {
    width: 220px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {

    .list-button, .sign-button { 
      width: 180px;
      font-size: 15px;
    }

    input {
      height: 30px; 
    }

    .back-button, .submit-button {
      font-size: 15px;  
      width: 120px;
    }

    .message, .message-error {
      width: 100%;
    }

    .form {
      width: 100%;
      padding: 5px;
    }

    .head-title {
    top: -10px;
    height: 40px;
    }

    .title {
      font-size: 20px;
    }

    .ase-image {
      height: 15px;
      width: 20px;
    }

    .description {
      margin-top: 50px;
      font-size: 15px;
    }

    p {
      font-size: 15px;
    }

    .cust-data {     
      font-size: 13px;
    }

    .list {
      width: 100%;
      font-size: 13px;
      padding: 10px;   
    }

    .message-header {
      font-size: 15px;
    }

    .copyright {
      font-size: 12px;
    }
}
  
